/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");


/* Overwrite browser default */
* {
    padding: 0;
    margin: 0;
}


/* General styles */
body {
    font-family: Lato, Helvetica, sans-serif;
}

h1, h2, h3 {

}


/* ---Header content--- */
header {
    height: 450px;
    background: url("../images/misfits-header.jpg") no-repeat center / cover;
}

.bg-overlay {
    background: rgba(23, 52, 80, 0.80);
    height: 100%;
    z-index: 2;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}


/* ---Navigation--- */
nav {
    display: flex;
    align-self: center;
    width: fit-content;
    border: thin solid #ffffff;
    border-radius: 5px;
    padding: 15px 35px 15px 35px;
    color: #ffffff;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav ul li {
    margin: 0 25px 0 25px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #cccccc;
}

/* ---Logo & Claim--- */
.logo-container {
    position: absolute;
    top: 180px;
    left: 15%;
    width: fit-content;
    color: #ffffff;
}
.logo-container h1 {
    font-size: 3em;
}
.logo-container p {
    font-size: 1.5em;
}

/* ---Main content--- */

main {
    
}

.about {
    background-color: #D52E25;
    height: 600px;
    display: flex;
    justify-content: center;
}

#about-headline {
    background-color: #D52E25;
    position: relative;
    display: flex;
    top: -30px;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 5px -1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.recap {
    background-color: #ffffff;
    height: 600px;
}

.contact {
    background-color: #888888;
    height: 600px;
}


/* ---Footer content--- */
footer {
    background-color: #000000;
    height: 250px;
}
